body{
    background-color: #f0ffff;
    margin: 2.5em;
}

/* CSS for create.js */
.inputform{
    margin: 1em;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    width: 100%;
}

.inputButtons{
    display: flex;
    gap: 2em;
}

.addProfile{
    margin: 1em 0 1em 0;
}

/* entire card */
.card{
    border: 1px solid black;
    margin: 2em 0 2em 0;
}

/* rud.js photo */
.photo{
    display: block;
    justify-content: center;
    max-width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
}

.profileHeader{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* new comments for students */
.newComments{
    margin: 1em;
    padding: 10px;
    border: 1px solid #D3D3D3;
    background-color: #D8BFD8;
    border-radius: 10px;
}

.profileButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media only screen and (max-width: 600px) {
    .profileButtons{
        flex-direction: column;
        text: 1em;
    }
}
/* profile cahnges */
.nameChange ,.parentNameChange, .imageChange{
    justify-content: center;
    margin: 1em;
    /* flex-direction: row; */
}

/* buttons*/
.buttonLight{
     border: 1px solid #D3D3D3;
}

.editCommentsButton{
    display: flex;
    justify-content: center;
    margin: 1em 0 1em 0 ;
    gap: 2em;
}

/* status box */
.statusBox{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 1em;
    background-color: #f8f8ff;
}

.cardButton{
    margin: auto;
}